services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: gymspotter
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: gymspotterdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: